{% extends  'Sandbox/Layouts/layout2.html.twig' %}

{% block title %}{{ parent() }} : vue 4{% endblock %}

{% block titre_principal %}Titre principal de la vue 4{% endblock %}

{% block vue %}
    <p>
        Le paragraphe du template <code>vue4.html.twig</code>
    </p>
{% endblock %}