{% extends  'Sandbox/Layouts/layout3.html.twig' %}

{% block title %}{{ parent() }} : vue 5{% endblock %}

{% block titre_principal %}Titre principal de la vue 5{% endblock %}

{% block vue %}
    <p>
        Le paragraphe du template <code>vue5.html.twig</code>
    </p>
{% endblock %}