{# affichage des messages flash #}

{% if app.session.flashBag.has('info') %}
    <strong>Messages d'information</strong>
    <ul>
        {% for msg in app.session.flashBag.get('info') %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
{% endif %}
