<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue !</title>
</head>
    <body>
    <h1>Bienvenue mr</h1>
        <table><thead></thead><tbody>
    {% for key, value in params %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        <br>
    {% else %}
        Je ne prenere aucun jeu
    {% endfor %}
            </tbody></table>
    </body>
</html>
